        <table id="TabelaFormulariosSetor" class="table is-hoverable is-centered is-fullwidth" style="text-align: center;">
    <thead>
    <th class="has-text-centered">Categoria</th>
    <th class="has-text-centered">Campos do Formulário</th>
    <th class="has-text-centered">Ações</th>
    </thead>
    <tbody>

    @for (var j = 0; j < Convert.ToInt32(TempData["TotalFormularios"].ToString()); j++)
    {
        <tr>
            <td class="has-text-centered">@TempData["CategoriaFormulario" + j].ToString()</td>
            <td class="has-text-centered">@TempData["CamposFormulario" + j].ToString()</td>
            <td class="has-text-centered">

            </td>
        </tr>
    }
            </tbody>
        </table>
