<script>
    function Seleciona(id) {
        $("#EdicaoCategoria").removeAttr("hidden");
        $("#SalvaCategoria").removeAttr("disabled ");
        $("#ExcluirCategoria").removeAttr("disabled ");
        $("#EdicaoCategoria").empty();
        $.ajax(
            {
                type: 'Post',
                url: '/Webdesk/RecuperaCategoria',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "IdCategoria": id },
                success: function(data) {

                    $("#EdicaoCategoria").append(data);

                }
            });

    }

</script>
<div>
    @if (Convert.ToInt32(TempData["TotalResultado"]) == 0)
    {
        <article class="message is-success">
            <div class="message-body">
                Infelizmente não foi encontrado nenhuma categoria com está descrição!
            </div>
        </article>
        <script>
       
                $("#EdicaoCategoria").empty();
            
        </script>
    }
    else
    {
        <ul>
            @for (var i = 0; i < Convert.ToInt32(TempData["TotalResultado"]); i++)
            {
                <li>
                    <a href="Javascript:Seleciona('@TempData["Id" + i]')">
                        @TempData["Descricao" + i]
                    </a>
                </li>
            }
        </ul>
    }
</div>
