@model PortalSicoobDivicred.Models.Parametros

<body>

    <select multiple="multiple" id="my-select" name="my-select[]">

        @if (TempData["Maior"].ToString() == "Permissoes")
        {
            for (var i = 0; i < Convert.ToInt32(TempData["TotalResultados"]); i++)
            {
        
                    <option> @TempData["descricao" + i].ToString() </option>
           
                if (i < Convert.ToInt32(TempData["TotalMenor"]))
                {
                    <option selected> @TempData["descricaoAtivas" + i].ToString() </option>
                }

            }
        }

        @if (TempData["Maior"].ToString() == "PermissoesAtivas")
        {
            for (var i = 0; i < Convert.ToInt32(TempData["TotalResultados"]); i++)
            {
                    <option selected> @TempData["descricaoAtivas" + i].ToString() </option>
                
                if (i < Convert.ToInt32(TempData["TotalMenor"]))
                {
                    <option> @TempData["descricao" + i].ToString() </option>
                    
                }

            }
        }

    </select>

</body>

<div class="ms-selection">
    <ul tabindex="-1" class="ms-list">
              
    </ul>
</div>
<script type="text/javascript">
    multiFiles = [];

    $('#my-select').multiSelect({
        afterSelect: function (values) {
            this.multiFiles.push(values);
        },
        afterDeselect: function (values) {

        }
    });

    function EnviarPermissoes() {
        alert("teste" + multiFiles[0]);
        $.ajax({
            url: '/Parametros/EnviarDadosArrayPermissoes',
            dataType: 'html',
            cache: true,
            async: true,
            data: {"TabelaPermissoes":multiFiles},
            type: "POST",
            success: function (data) {
                
                iziToast.success({
                    title: 'Sucesso',
                    position: "center",
                    message: 'Pendências Apontada com sucesso !'
                });

            },
            error: function (data) {
                alert(data.message);
                iziToast.error({
                    title: 'Erro',
                    position: "center",
                    message: 'Erro ao confirmar pendencias'
                });

            }
        });
    }

</script>
<div class="control">
    <div class="control">
        <a href="Javascript:EnviarPermissoes();void(0);" class="button is-success">
            Procurar
        </a>
    </div>
</div>



<script type="text/javascript">
  
</script>