<script>

    function Funcao() {
        $("#ParametroSelecionado").empty();
        $("#PanelFuncao").addClass("is-active");

        $("#PanelCertificacao").removeClass();
        $("#PanelGestor").removeClass();
        $("#PanelSetor").removeClass();
        $("#PanelCertificacao").addClass("panel-block");
        $("#PanelGestor").addClass("panel-block");
        $("#PanelSetor").addClass("panel-block");
        
        $.ajax(
            {
                type: 'GET',
                url: '/PainelColaborador/Funcao',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);

                }
            });

    }
    function Certificacao() {
        $("#ParametroSelecionado").empty();
        $("#PanelCertificacao").addClass("is-active");

        $("#PanelFuncao").removeClass();
        $("#PanelGestor").removeClass();
        $("#PanelSetor").removeClass();
        $("#PanelFuncao").addClass("panel-block");
        $("#PanelGestor").addClass("panel-block");
        $("#PanelSetor").addClass("panel-block");
        
        $.ajax(
            {
                type: 'GET',
                url: '/PainelColaborador/Certificacao',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);

                }
            });

    }
    function Gestor() {
        $("#ParametroSelecionado").empty();
        $("#PanelGestor").addClass("is-active");

        $("#PanelFuncao").removeClass();
        $("#PanelCertificacao").removeClass();
        $("#PanelSetor").removeClass();
        $("#PanelFuncao").addClass("panel-block");
        $("#PanelCertificacao").addClass("panel-block");
        $("#PanelSetor").addClass("panel-block");
        
        $.ajax(
            {
                type: 'GET',
                url: '/PainelColaborador/Gestor',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);

                }
            });

    }
    function Setor() {
        $("#ParametroSelecionado").empty();
        $("#PanelSetor").addClass("is-active");

        $("#PanelFuncao").removeClass();
        $("#PanelCertificacao").removeClass();
        $("#PanelFuncao").addClass("panel-block");
        $("#PanelCertificacao").addClass("panel-block");
        $("#PanelGestor").addClass("panel-block");

        $.ajax(
            {
                type: 'GET',
                url: '/PainelColaborador/Setor',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);

                }
            });

    }

</script>


<div class="columns">
    <div class="column -is-4">
        <nav class="panel">
            <p class="panel-heading">
                Parâmetros
            </p>
            <a id="PanelFuncao" style="background-color: white" class="panel-block" href="Javascript:Funcao();void(0);">
                <span class="panel-icon">
                    <i class="fas fa-address-card"></i>
                </span>
                Funções
            </a>
            <a id="PanelCertificacao" style="background-color: white" class="panel-block" href="Javascript:Certificacao();void(0);">
                <span class="panel-icon">
                    <i class="fas fa-certificate"></i>
                </span>
                Certificações
            </a>
            <a id="PanelGestor" style="background-color: white" class="panel-block" href="Javascript:Gestor();void(0);">
                <span class="panel-icon">
                    <i class="fab fa-black-tie"></i>
                </span>
                Gestores
            </a>
            <a id="PanelSetor" style="background-color: white" class="panel-block" href="Javascript:Setor();void(0);">
                <span class="panel-icon">
                    <i class="fas fa-cube"></i>
                </span>
                Setores
            </a>
        </nav>
    </div>
    <div id="ParametroSelecionado" class="column is-6">
    
    </div>
</div>

