<script>
    function Seleciona(id) {
        $("#EdicaoSetor").removeAttr("hidden");
        $("#SalvaSetor").removeAttr("disabled ");
        $("#ExcluirSetor").removeAttr("disabled ");
        $("#EdicaoSetor").empty();
        $.ajax(
            {
                type: 'Post',
                url: '/PainelColaborador/RecuperaSetor',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "IdSetor": id },
                success: function(data) {

                    $("#EdicaoSetor").append(data);

                }
            });

    }
</script>
<div>
    <ul>
        @for (var i = 0; i < Convert.ToInt32(TempData["TotalResultado"]); i++)
        {
            <li>
                <a href="Javascript:Seleciona('@TempData["Id" + i]')">
                    @TempData["Descricao" + i]
                </a>
            </li>
        }
    </ul>
</div>