
<script>
    function Seleciona(Id) {
        $("#EdicaoGestor").removeAttr("hidden");
        $("#SalvaGestor").removeAttr("disabled ");
        $("#ExcluirGestor").removeAttr("disabled ");
        $("#EdicaoGestor").empty();
        $.ajax(
            {
                type: 'Post',
                url: '/PainelColaborador/RecuperaGestor',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "IdGestor": Id },
                success: function (data) {

                    $("#EdicaoGestor").append(data);

                }
            });

    }
</script>
<div>
    <ul>
        @for (int i = 0; i < Convert.ToInt32(@TempData["TotalResultado"]); i++)
        {
            <li>
                <a href="Javascript:Seleciona('@TempData["Id"+i]')">
                    @TempData["Descricao" + i]
                </a>
            </li>
        }
    </ul>
</div>
