<script>
    function Seleciona(Id) {
        $("#EdicaoFuncao").removeAttr("hidden");
        $("#SalvaFuncao").removeAttr("disabled ");
        $("#ExcluirFuncao").removeAttr("disabled ");
        $("#EdicaoFuncao").empty();
        $.ajax(
            {
                type: 'Post',
                url: '/PainelColaborador/RecuperaFuncao',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "IdFuncao": Id },
                success: function (data) {

                    $("#EdicaoFuncao").append(data);

                }
            });

    }
</script>
<div>
    <ul>
        @for (int i = 0; i < Convert.ToInt32(@TempData["TotalResultado"]); i++)
        {
            <li>
                <a href="Javascript:Seleciona('@TempData["Id"+i]')">
                    @TempData["Descricao"+i]
                </a>
            </li>
        }
    </ul>
</div>