


<table class="table">
    <thead>
        <tr>
            <th>P.A</th>
            <th>Total Numérario</th>
            <th>Observação</th>
            <th>Ultima Alteração</th>
            <th>Alterado Por:</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Matriz</td>
            <td>R$@TempData["ValorMatriz"]<input id="ValorMatriz" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Parana</td>
            <td>R$@TempData["ValorParana"]<input id="ValorParana" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Cajuru</td>
            <td>R$@TempData["ValorCajuru"]<input id="ValorCajuru" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>St. Clara</td>
            <td>R$@TempData["ValorStClara"]<input id="ValorStClara" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>BH</td>
            <td>R$@TempData["ValorBH"]<input id="ValorBH" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Betim</td>
            <td>R$@TempData["ValorBetim"]<input id="ValorBetim" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Contagem</td>
            <td>R$@TempData["ValorContagem"]<input id="ValorContagem" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Goias</td>
            <td>R$@TempData["ValorGoias"]<input id="ValorGoias" style="display:none" class="input" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Barreiro</td>
            <td>R$@TempData["ValorBarreiro"]<input id="ValorBarreiro" style="display:none" class="input" /></td>
            <td><label>@TempData["ObservacaoBarreiro"]</label><input id="ObservacaoBarreiro" style="display:none" class="input" /> </td>
            <td>@TempData["DataBarreiro"]</td>
            <td>@TempData["AlteradoBarreiro"]</td>
            <td><a data-balloon="Editar" data-balloon-pos="right" href="javascript:EditarValor('Barreiro')"><i class="fas fa-edit"></i></a></td>
        </tr>
    </tbody>
</table>
