@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background: #e6e6e6;
    }

</style>
<body>
@Html.Action("Dashboard", "Principal")
</body>
                    
               