@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
@if (TempData["Mensagem"] != null)
{
    @Html.Label("")


    <script>

        iziToast.success({
            title: 'Sucesso',
            position: "center",
            message: '@TempData["Mensagem"]',
        });

    </script>
}


@Html.Action("Dashboard", "Principal")
</body>