
<div class="column is-4">
    <article class="message is-primary">
        <div class="message-body">
            @TempData["NumeroDaSorte"]
        </div>
         
    </article>
    <table id="TabelaCurriculo" class="table is-striped  is-fullwidth">
        <thead>
        <th class="has-text-centered">Número da Sorte</th>
        <th class="has-text-centered">Motivo</th>
        <th class="has-text-centered">Data</th>
        </thead>
        <tbody>
            @for (var g = 0; g < Convert.ToInt32(TempData["TotalCupons"].ToString()); g++)
        {
            <tr>
                <td class="has-text-centered">@TempData["Numero" + g].ToString()</td>
                <td class="has-text-centered">@TempData["Motivo" + g].ToString()</td>
                <td class="has-text-centered">@TempData["Data" + g].ToString()</td>
            </tr>

    }
        </tbody>
    </table>
</div>