<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://10.11.17.30:9090/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://SRV084030_00:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>PortalSicoobDivicred</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>MATRIZ\DAVIC4030_00</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="portaldetalentos" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Database=portaldetalentos; Data Source=10.11.17.13;User Id=root;Password=12345678" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\portaldetalentos_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=portaldetalentos; Data Source=10.11.17.13;User Id=root;Password=12345678" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="portalinterno" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Database=4030; Data Source=10.11.17.30;User Id=root;Password=chinchila@acida12244819" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\portalinterno_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=4030; Data Source=10.11.17.30;User Id=root;Password=chinchila@acida12244819" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="pontorh" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="User=SYSDBA;Password=masterkey;Database='D:\SmartPonto\Banco\DB_SMARTPONTO.FDB';DataSource='10.11.17.12';Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\pontorh_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User=SYSDBA;Password=masterkey;Database='D:\SmartPonto\Banco\DB_SMARTPONTO.FDB';DataSource='10.11.17.12';Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)pontorh-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)portaldetalentos-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)portalinterno-Web.config Connection String" />
  </ItemGroup>
</Project>